/Debug/
/Release/
/res/
/_UpgradeReport_Files/
/ipch/
/Lib/
/MTK/
/Qualcomm/
/log/
*.xls
*.csv
*.xlsx
*.aps
*.rc
*.vcxproj
*.vcproj
*.filters
*.user
*.def
*.idc
*.sdf
*.sln
*.old
*.suo
*.opensdf
*.pyc
*.exe
*.dll